<nav class="navbar">
    <div>
        <i class="fa fa-instagram"></i>
        <!-- username in navbar -->
        <% if (user) { %>
            <p><%= user.username %></p>
        <% } %>
        <!-- dynamically adjusted routes -->
        <% if (routes) { %>
            <% routes.forEach((route) => { %>
                <a href="<%= route.href %>"><%= route.title %>    |</a>
            <% }) %>
        <% } %>
    </div>
</nav>