<nav class="navbar">
    <div>
        <i class="fa fa-instagram"></i>
        <!-- username in navbar -->
        <% if (sessionUser) { %>
            <a href="/users/<%=sessionUser.id%>"> <%= sessionUser.username %> </a>
            <br>
        <% } %>
        <!-- dynamically adjusted routes -->
        <% if (routes) { %>
            <% routes.forEach((route) => { %>
                <a href="<%= route.href %>"><%= route.title %>    |</a>
            <% }) %>
        <% } %>
    </div>
</nav>