<nav class="navbar">
    <div>
        <i class="fa fa-instagram"></i>
        <a href="/"> Home   |</a>
        <a href="/posts"> All Posts     |</a>
        <a href="/posts/new"> Add New Post </a>
    </div>
</nav>