<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', {page: 'edit'}) %>

  <body>
    <%- include('partials/nav') %>

    <section>
      <div>
        <h1 class="title">404 Page not found</h1>
      </div>
    </section>

    <main class="container">
      <a href="/posts">Return to Instagram Posts</a>
      <div></div>
    </main>
  </body>
</html>
