<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head', {page: 'edit'})  %>
    <body>
    <%- include('partials/nav')  %>

        <main class="container">
            <h2 class="home-heading">Welcome to Group 7's attempt to clone Instagram!</h2>
            <h3 class="home-heading">Created by: eric'sMoneyGang (Jared, Richard, John)</h2>
            <div class="home-container">
                <img class = "home-image"src="https://funlifecrisis.com/wp-content/uploads/2018/08/ig-feed-goals-colorful-instagram-theme.jpg" alt="colorful instagram image">
                <div class = "introduction">
                    <p> Be like Jacob and starting living a colorful life!</p>
                    <p> Sign up here to get started!</p>
                    <a href ="/register">Register</a>
                    <p> Already a member?</p>
                    <a href="/login">Login here!</a>
                </div>
            </div>
        </main>
    
	</body>
</html>