<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head', {page: 'edit'})  %>
    <body>
    <%- include('partials/nav')  %>

        <section>
            <div>
                <h2 class="title"> <i class="fa fa-instagram"></i>  Instagram Reverse Engineering</h2>
            </div>
        </section>

        <main class="container">
            <h1>Welcome to Group 7's attempt to reverse engineer: Instagram!</h1>
            <h3>Created by: eric'sMoneyGang (Jared, Richard, John)</h2>
            <div>
							<!-- your content here -->
                
            </div>
        </main>
    
	</body>
</html>