<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head', {page: 'edit'})  %>
    <body>
    <%- include('partials/nav')  %>

        <section>
            <div>
                <h2 class="title"> <i class="fa fa-instagram"></i>  Instagram Reverse Engineering</h2>
            </div>
        </section>

        <main class="groupseven">
            <h1>Welcome to Group 7's attempt to reverse engineer: Instagram!</h1>
            <h3>Created by: eric'sMoneyGang (Jared, Richard, John)</h2>
                <main class="home-container">
                <img class = "home-image"src="https://funlifecrisis.com/wp-content/uploads/2018/08/ig-feed-goals-colorful-instagram-theme.jpg" alt="colorful instagram image">
            <div class = "introduction">
                <p> You can be like Jacob today <br> And starting living a colorful life!</p>
                <br>
                <p> Sign up here to get started: <a href ="./register">Register</a></p>
                <p> Already a member? Login here: <a href="/login">Login</a></p>
            </div>
          </main>
    
	</body>
</html>