<!DOCTYPE html>
<html lang="en">
    <!-- head -->
	<%- include( 'partials/head.ejs', { page: 'Posts' } ) %> 
    <body>  
		<%- include( 'partials/nav.ejs' )  %>

        <section>
            <div>
                <h2 class="title">All Instagram Posts</h2>
            </div>
        </section>

        <main class="container">
            <div>
               <!-- 
                This isn't working on my side but pushing this change to try later at home
                <h1> <%= posts[1]%> </h1> -->
            </div>
        </main>
    
	</body>
</html>