:root {
    --body-background-color: rgb(250, 250, 250);
    --primary-black: rgb(38, 38, 38);
    --secondary-gray: rgb(100, 100, 100);
    --lighter-gray: rgb(200, 200, 200);

    --border-radius: 10px;
    --post-width: 550px;
    
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-black);    
}

body, .container, .post-container {
    display: flex;
    flex-direction: column;
}

a:hover {
    color: var(--secondary-gray);
}

body {
    background-color: var(--body-background-color);
    align-items: center;
}

.container {
    width: var(--post-width);
    align-items: center;
}

.post-container {
    width: 100%;
    background-color: white;
    font-weight: bold;
    margin-bottom: 50px;
    border: 1px solid var(--primary-black);
    border-radius: var(--border-radius);
}

.post-header {
    padding: 16px 10px;
}

.post-username > a, .comment-username > a {
    text-decoration: none;
}

.post-image {
    max-height: var(--post-width);
}

.post-content {
    display: flex;
    flex-direction: column;
    padding: 16px 10px;
}

.post-content > * {
    margin-bottom: 10px;
}

.post-content h2 {
    font-size: 16px;
    font-weight: bold;
}

.post-content button {
    cursor: pointer;
    border: none;
    background-color: white;
}

.post-content i {
    margin-right: 20px;
}

.post-content i:hover {
    color: var(--secondary-gray);
}

.post-content > div {
    display: flex;
    align-items: center;
}

.post-icons {
    justify-content: space-between;
}

.post-icons-left {
    display: flex;
    flex-direction: row;
}

.post-icons-right i {
    margin-right: 0;
}

.post-title {
    font-size: 16px;
    margin-left: 10px;
    font-weight: normal;
}

.post-date, .comment-date {
    color: var(--secondary-gray);
    font-weight: normal;
}

.add-comment-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border: 1px solid var(--lighter-gray);
}

.add-comment-form #content {
    flex-grow: 1;
    font-size: 16px;
    border: none;
    padding: 0 5px;
}

.add-comment-form button {
    background-color: var(--body-background-color);
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
    border-left: 1px solid var(--lighter-gray);
}

.add-comment-form button:hover {
    color: var(--body-background-color);
    background-color: var(--primary-black);
}

.comment-li {
    list-style: none;
}

.comment-li div {
    display: flex;
    justify-content: space-between;
}

.comment-li div p {
    margin-right: 10px;
}

.comment-content {
    font-weight: normal;
}