<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head', {page: 'edit'})  %>
    <body>
    <%- include('../partials/nav')  %>

        <section>
            <div>
                <h2 class="title"> Test</h2>
            </div>
        </section>
    </body>